doctype html 
html(lang="ko")
    head 
        link(rel="stylesheet" href="/public/css/style.css")
        link(rel="shortcut icon" href="/public/icon/castle.ico" type="image/x-icon")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Great Kingdom
    body
        main 
            div#top
                div#topNav
                    div#newGameBtn New Game
                    div#currentTurn
                    div#passTurn
                        div#redPassed
                        div#bluePassed
                div#topRightNav
                    div#winText
            div#playBoard 
            div#bottom
                div#bottomNav 
                    div#redPoint
                    div#bluePoint
                div#bottomRightNav
                    div#backsiesBtn Backsies
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")