body {
    background-color:beige;
    display: flex;
    align-items: center;
	justify-content: center;
}

.row {
    display: flex;
    align-items: center;
	justify-content: center;
}

.tile {
    width: 80px;
    height: 80px;
    border: 1px solid rgb(70, 70, 70);
    box-sizing: border-box;
}

.N_Castle {
    background-color:rgb(70, 70, 70);
}

.N_Territory {
    background-color:lightgray;
}

.R_Castle {
    background-color:brown;
}

.R_Territory {
    background-color:lightpink;
}

.B_Castle {
    background-color:rgb(17, 17, 124);
}

.B_Territory {
    background-color:lightblue;
}

#playBoard {
    width: 720px;
    height: 720px;
    border: 10px solid rgb(70, 70, 70);
}

.tile:hover {
    border-left: 4px solid rgb(70, 70, 70);
    border-top: 4px solid rgb(70, 70, 70);
}

.tile:active {
    border-left: 8px solid rgb(70, 70, 70);
    border-top: 8px solid rgb(70, 70, 70);
}